{% extends "layout.html.twig" %}
    {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
    {% endblock stylesheets %}  


{% block fos_user_content %}
<div class="jumbotron">
{% include "default/show_profile_content.html.twig" %}
</div>

{% include "default/show_profile_content2.html.twig" %}



{% endblock fos_user_content %}

 {% block javascripts %}
          <script src="{{ asset('js/select2.js') }}"></script>
  
 {% endblock javascripts %}