{% extends "layout.html.twig" %}
    {% block stylesheets %}
    
    {% endblock stylesheets %}  


{% block fos_user_content %}
<div class="jumbotron">
{% include "Default/show_profile_content.html.twig" %}
</div>

{% endblock fos_user_content %}

 {% block javascripts %}
          <script src="{{ asset('js/select2.js') }}"></script>
  
 {% endblock javascripts %}