<!-- The content of your page would go here. -->

		<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Za3<span>ma</span></h3>

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">Company Name &copy; 2015</p>

				<div class="footer-icons">

					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					

				</div>
				<a href="https://fr.freepik.com">Credits photos - fr.freepik.com</a>
				<div>Credits Icons <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

			</div>

			<div class="footer-right">

				<p>Contact Us</p>

				<form action="#" method="post">

					<input class="form-control" type="text" name="email" placeholder="Email" />
					<textarea class="form-control" name="message" placeholder="Message"></textarea>
					<button>Send</button>

				</form>

			</div>

		</footer>
