{% extends "layout.html.twig" %}

{% block fos_user_content %}
<h3>Formulaire de connexion</h3>
    <div class="jumbotron">
        {{ include('FOSUserBundle/Security/login_content.html.twig') }}
    </div>
{% endblock fos_user_content %}
