{% extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="jumbotron">
  <h3 class="display-3">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</h3>
</div>
{% endblock fos_user_content %}
