{% extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="jumbotron">
  <h1 class="display-3">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h1>
    {% if targetUrl %}
        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
    <a></a>
</div>
   
{% endblock fos_user_content %}
